<p>
  <strong>Title:</strong>
  <%= @question.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @question.body %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>

<hr>

Add new Answer
<%= form_for [@question, Answer.new] do |f| %>
  <%= f.text_area :body %>
  <%= f.submit class: "btn btn-primary" %>
<% end %>

<h3> Answers </h3>
<hr>
<% @question.answers.each do |answer| %>
  <div class="well">
    <%= answer.body %>
  </div>
<% end %>