<!DOCTYPE html>
<html>
<head>
  <title>Qa</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<div class="container">
  <% if flash[:notice] %>
    <p class="alert alert-success"><%= flash[:notice] %></p>
  <% elsif flash[:alert] %>
    <p class="alert alert-danger"><%= flash[:alert] %></p>
  <% end %>

  <%= yield %>
</div>

</body>
</html>
